In [5]:
import numpy as np
import pandas as pd

## Operações com Series

In [6]:
# Lista de listas (matriz)
matriz = [[9, 4, 3], [2, 6, 1], [7, 5, 8]]

In [7]:
type(matriz)

list

In [8]:
# Converte a matriz em dataframe
df = pd.DataFrame(matriz)

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df

   0  1  2
0  9  4  3
1  2  6  1
2  7  5  8

In [13]:
# Extrai a linha de índice 0
linha = df.iloc[0, :]

In [12]:
linha

0    9
1    4
2    3
Name: 0, dtype: int64

In [14]:
type(linha)

pandas.core.series.Series

In [15]:
# Cria uma série de 
serie_pandas = pd.Series(['a', 'b', 'c', 'd', 'e'])

In [16]:
serie_pandas

0    a
1    b
2    c
3    d
4    e
dtype: object

In [17]:
# Visualiza os índices do dataframe
df.index

RangeIndex(start=0, stop=3, step=1)

In [19]:
# Visualiza os índices da series
serie_pandas.index

RangeIndex(start=0, stop=5, step=1)

In [21]:
# Visualiza os valores da series
serie_pandas.values

array(['a', 'b', 'c', 'd', 'e'], dtype=object)

In [22]:
# Visuazliza o tipo dos dados da series
serie_pandas.dtype

dtype('O')

In [23]:
# Visualiza o shape
serie_pandas.shape

(5,)

Podemos ter uma série com dados de tipos diferentes?

In [34]:
serie_pandas = pd.Series(['a', 'b', 'c', 10, True], index = [10, 20, 30, 40, 50])

In [35]:
serie_pandas.index

Int64Index([10, 20, 30, 40, 50], dtype='int64')

In [36]:
serie_pandas.dtypes

dtype('O')

In [37]:
serie_pandas.values

array(['a', 'b', 'c', 10, True], dtype=object)

In [38]:
serie_pandas.dtypes

dtype('O')

In [39]:
serie_pandas

10       a
20       b
30       c
40      10
50    True
dtype: object

In [45]:
serie_pandas[40] + 1

11

In [46]:
lista = ['Ingo', 'Reichert', 'Junior']

In [47]:
series_pandas = pd.Series(lista)

In [48]:
print(series_pandas)

0        Ingo
1    Reichert
2      Junior
dtype: object

In [49]:
dicionario = {'a': 'Ingo', 'b': 'Reichert', 'c': 'Junior'}

In [50]:
series_pandas = pd.Series(dicionario)

In [51]:
series_pandas

a        Ingo
b    Reichert
c      Junior
dtype: object

In [53]:
# Cria um array Numpy
arr = np.random.randint(0, 10, size = 5)

In [54]:
print(arr)

[2 9 5 4 2]

In [55]:
series_pandas = pd.Series(arr)

In [56]:
series_pandas

0    2
1    9
2    5
3    4
4    2
dtype: int64

In [57]:
series_pandas = pd.Series({1: 'data', 2: 'science'})

In [58]:
series_pandas

1       data
2    science
dtype: object

In [60]:
print(series_pandas[1])

data

In [62]:
series_pandas.iloc[0]

'data'

In [67]:
serie_pandas = pd.Series([1, 2, 3, 4, 5], dtype = 'float')

In [70]:
print(serie_pandas)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [71]:
serie_pandas.dtype

dtype('float64')

In [72]:
serie_pandas = pd.Series(['Azul', 'Amarelo', 'Azul', 'Branco', 'Branco', 'Verde', 'Azul'])

In [73]:
print(serie_pandas.unique())

['Azul' 'Amarelo' 'Branco' 'Verde']

In [74]:
print(serie_pandas.nunique())

4

In [75]:
serie_pandas = pd.Series([201, 323, 17, 97, 43, 9, 26, 4])

In [76]:
print(serie_pandas.nlargest(n = 3))

1    323
0    201
3     97
dtype: int64

In [77]:
print(serie_pandas.nsmallest(n = 2))

7    4
5    9
dtype: int64

In [78]:
serie_pandas = pd.Series(['Azul', 'Amarelo', 'Azul', 'Branco', 'Branco', 'Verde', 'Azul'])

In [79]:
print(serie_pandas.value_counts())

Azul       3
Branco     2
Amarelo    1
Verde      1
dtype: int64

In [83]:
serie_pandas = pd.Series([1, 2, 3, np.nan, np.nan])

In [85]:
print(serie_pandas.isna())

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [86]:
print(serie_pandas.isna().sum())

2

In [87]:
print(serie_pandas.count())

3

In [88]:
serie_pandas = pd.Series([1, 2, 3, 4])

In [89]:
print(serie_pandas.eq(3))

0    False
1    False
2     True
3    False
dtype: bool

In [90]:
print(serie_pandas.gt(2))

0    False
1    False
2     True
3     True
dtype: bool

In [91]:
serie_pandas = pd.Series([56, 34, 68, 21, 49])

In [93]:
print(serie_pandas.mean())

45.6

In [94]:
print(serie_pandas.agg(['mean', 'median', 'sum', 'count']))

mean       45.6
median     49.0
sum       228.0
count       5.0
dtype: float64