In [162]:
import pandas as pd

### Carregando os Dados

In [163]:
# Carrega o dataset de escolas
df_escolas = pd.read_csv('dataset_escolas.csv')

In [164]:
df_escolas.head()

   ID_Escola Nome_Escola Tipo_Escola  Numero_Alunos  Orcamento_Anual
0          0    Escola A     Publica           2917          1910635
1          1    Escola B     Publica           2949          1884411
2          2    Escola C  Particular           1761          1056600
3          3    Escola D     Publica           4635          3022020
4          4    Escola E  Particular           1468           917500

In [165]:
df_escolas.shape

(15, 5)

In [166]:
# Carrega o dataset de estudantes
df_estudantes = pd.read_csv('dataset_estudantes.csv')

In [167]:
df_estudantes.head()

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica
0,0,Kevin Bradley,M,6,Escola A,66,79
1,1,Paul Smith,M,9,Escola A,94,61
2,2,John Rodriguez,M,9,Escola A,90,60
3,3,Oliver Scott,M,9,Escola A,67,58
4,4,William Ray,F,6,Escola A,97,84

In [168]:
df_estudantes.shape

(39160, 7)

In [169]:
# Combinar os dois datasets
df_full = pd.merge(df_estudantes, df_escolas, how = 'left', on = ['Nome_Escola', 'Nome_Escola'])

In [170]:
df_full.head()

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica,ID_Escola,Tipo_Escola,Numero_Alunos,Orcamento_Anual
0,0,Kevin Bradley,M,6,Escola A,66,79,0,Publica,2917,1910635
1,1,Paul Smith,M,9,Escola A,94,61,0,Publica,2917,1910635
2,2,John Rodriguez,M,9,Escola A,90,60,0,Publica,2917,1910635
3,3,Oliver Scott,M,9,Escola A,67,58,0,Publica,2917,1910635
4,4,William Ray,F,6,Escola A,97,84,0,Publica,2917,1910635

In [171]:
df_full.shape

(39160, 11)

In [172]:
# Series escolares no dataset
df_full['Serie'].unique()

array([6, 9, 8, 7])

In [173]:
# Genero
dados_full['Genero'].unique()

array(['M', 'F'], dtype=object)

## Desafio de Análise de Dados

Responda as pergundas abaixo

### 1 - Temos dados de quantas escolas?

In [221]:
total_escolas = df_full['Nome_Escola'].nunique()
total_escolas

15

### 2 - Qual o total de registros de estudantes na base de dados?

In [198]:
total_registros = df_full['Nome_Estudante'].shape[0]
total_registros

39160

### 3 - Qual o orçamento total considerando todas as escolas?

In [226]:
df_orcamento = df_full.groupby('Nome_Escola').mean('Orcamento_Anual')

In [227]:
df_orcamento.head()

,ID_Estudante,Serie,Nota_Redacao,Nota_Matematica,ID_Escola,Numero_Alunos,Orcamento_Anual
Nome_Escola,,,,,,,
Escola A,1458.0,7.358930,81.182722,76.629414,0.0,2917.0,1910635.0
Escola B,4391.0,7.371312,81.158020,76.711767,1.0,2949.0,1884411.0
Escola C,6746.0,7.354344,83.725724,83.359455,2.0,1761.0,1056600.0
Escola D,9944.0,7.341316,80.934412,77.289752,3.0,4635.0,3022020.0
Escola E,12995.5,7.365123,83.816757,83.351499,4.0,1468.0,917500.0

In [229]:
orcamento_total = df_orcamento['Orcamento_Anual'].sum()
orcamento_total

24649428.0

### 4 - Qual a média da nota dos alunos em Redação?

In [230]:
media_redacao = df_full['Nota_Redacao'].mean()
media_redacao

81.87574055158325

### 5 - Qual a média da nota dos alunos em Matemática?

In [231]:
media_matematica = df_full['Nota_Matematica'].mean()
media_matematica

78.98493360572012

### 6 - Considerando que a nota de aprovação é 70, quantos alunos foram aprovados em Redação? (Entregue o resultado em valor absoluto e percentual)

In [236]:
aprovados_redacao = df_full.loc[df_full['Nota_Redacao'] >= 70]
aprovados_redacao = aprovados_redacao.shape[0]
print(aprovados_redacao)

33600

In [238]:
alunos_total = df_full.shape[0]
aprovados_redacao = (aprovados_redacao / alunos_total) * 100
aprovados_redacao

85.80183861082737

### 7 - Considerando que a nota de aprovação é 70, quantos alunos foram aprovados em Matemática? (Entregue o resultado em valor absoluto e percentual)

In [242]:
aprovados_matematica = df_full.loc[df_full['Nota_Matematica'] >= 70, :]
aprovados_matematica = aprovados_matematica.shape[0]
aprovados_matematica

29360

In [243]:
aprovados_matematica = (aprovados_matematica / alunos_total) * 100
aprovados_matematica

74.97446373850867

### 8 - Considerando que a nota de aprovação é 70, quantos alunos foram aprovados em Matemática e Redação? (Entregue o resultado em valor absoluto e percentual)

In [249]:
aprovados_red_mat = df_full.loc[(df_full['Nota_Matematica'] >= 70) & (df_full['Nota_Redacao'] >= 70), :]
aprovados_red_mat = aprovados_red_mat.shape[0]
aprovados_red_mat

25518

In [250]:
aprovados_red_mat = (aprovados_red_mat / alunos_total) * 100
aprovados_red_mat

65.16343207354444

### 9 - Crie um dataframe com os resultados das questões de 1 a 8 que você calculou acima. (Dica: crie um dicionário e depois converta em dataframe do Pandas)

In [253]:
df_performance_escolar = pd.DataFrame({'Numero_Escolas': [total_escolas],
                           'Total_Estudantes': [total_registros],
                           'Orcamento_Total': [orcamento_total],
                           'Media_Redacao': [media_redacao],
                           'Media_Matematica': [media_matematica],
                           'Aprovados_Redacao': [aprovados_redacao],
                           'Aprovados_Matematica': [aprovados_matematica],
                           'Aprovados_red_mat': [aprovados_red_mat],
                         })

In [254]:
df_performance_escolar

,Numero_Escolas,Total_Estudantes,Orcamento_Total,Media_Redacao,Media_Matematica,Aprovados_Redacao,Aprovados_Matematica,Aprovados_red_mat
0,15,39160,24649428.0,81.875741,78.984934,85.801839,74.974464,65.163432

### 10 - Formate as colunas "Total de Estudantes" e "Total Orçamento" ajustando as casas decimais.

In [255]:
df_performance_escolar['Total_Estudantes'] = df_performance_escolar['Total_Estudantes'].map('{:,}'.format)
df_performance_escolar['Orcamento_Total'] = df_performance_escolar['Orcamento_Total'].map('${:,.2f}'.format)

In [256]:
df_performance_escolar

,Numero_Escolas,Total_Estudantes,Orcamento_Total,Media_Redacao,Media_Matematica,Aprovados_Redacao,Aprovados_Matematica,Aprovados_red_mat
0,15,"39,160","$24,649,428.00",81.875741,78.984934,85.801839,74.974464,65.163432

## Análise de Dados com Pandas

In [257]:
df_full.head()

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica,ID_Escola,Tipo_Escola,Numero_Alunos,Orcamento_Anual
0,0,Kevin Bradley,M,6,Escola A,66,79,0,Publica,2917,1910635
1,1,Paul Smith,M,9,Escola A,94,61,0,Publica,2917,1910635
2,2,John Rodriguez,M,9,Escola A,90,60,0,Publica,2917,1910635
3,3,Oliver Scott,M,9,Escola A,67,58,0,Publica,2917,1910635
4,4,William Ray,F,6,Escola A,97,84,0,Publica,2917,1910635

### 1 - Entre os alunos aprovados em Redação, qual genêro obteve maior número de aprovações?

In [476]:
aprovados_redacao_genero = df_full.loc[df_full['Nota_Redacao'] >= 70, ['Genero']]
aprovados_redacao_genero = aprovados_redacao_genero.groupby('Genero').value_counts()
aprovados_redacao_genero

Genero
F    17027
M    16573
dtype: int64

In [495]:
aprovados_redacao_genero = df_full[df_full['Nota_Redacao'] >= 70]['Genero'].value_counts()
aprovados_redacao_genero

F    17027
M    16573
Name: Genero, dtype: int64

### 2 - Entre os alunos aprovados em Matemátca, qual genêro obteve maior número de aprovações?

In [477]:
aprovados_matematica_genero = df_full.loc[df_full['Nota_Matematica'] >= 70, ['Genero']]
aprovados_matematica_genero = aprovados_matematica_genero.groupby('Genero').value_counts()
aprovados_matematica_genero

Genero
F    14835
M    14525
dtype: int64

In [496]:
aprovados_matematica_genero = df_full[df_full['Nota_Matematica'] >= 70]['Genero'].value_counts()
aprovados_matematica_genero

F    14835
M    14525
Name: Genero, dtype: int64

### 3 - Quais os tipos de todas as escolas em nossa base de dados?

In [298]:
## tipos_escolas = df_full['Tipo_Escola'].unique()
## tipos_escolas

array(['Publica', 'Particular'], dtype=object)

In [542]:
tipos_escolas = df_escolas.set_index(['Nome_Escola'])['Tipo_Escola'].sort_values()
tipos_escolas

Nome_Escola
Escola C    Particular
Escola E    Particular
Escola F    Particular
Escola G    Particular
Escola I    Particular
Escola J    Particular
Escola K    Particular
Escola O    Particular
Escola A       Publica
Escola B       Publica
Escola D       Publica
Escola H       Publica
Escola L       Publica
Escola M       Publica
Escola N       Publica
Name: Tipo_Escola, dtype: object

### 4 - Qual o total de estudantes por escola?

In [565]:
estudantes_escola = df_full['Nome_Escola'].value_counts().sort_values()
estudantes_escola

Escola I     427
Escola J     962
Escola E    1468
Escola O    1625
Escola C    1761
Escola K    1800
Escola G    1858
Escola F    2283
Escola N    2739
Escola A    2917
Escola B    2949
Escola L    3999
Escola D    4635
Escola M    4761
Escola H    4976
Name: Nome_Escola, dtype: int64

In [491]:
estudantes_escola = df_full['Nome_Escola'].value_counts().sort_values()
estudantes_escola

Escola I     427
Escola J     962
Escola E    1468
Escola O    1625
Escola C    1761
Escola K    1800
Escola G    1858
Escola F    2283
Escola N    2739
Escola A    2917
Escola B    2949
Escola L    3999
Escola D    4635
Escola M    4761
Escola H    4976
Name: Nome_Escola, dtype: int64

### 5 - Qual o total de orçamento de cada escola per capita (por estudante)?

In [600]:
total_estudantes_escola = df_full['Nome_Escola'].value_counts().sort_values()
total_estudantes_escola

Escola I     427
Escola J     962
Escola E    1468
Escola O    1625
Escola C    1761
Escola K    1800
Escola G    1858
Escola F    2283
Escola N    2739
Escola A    2917
Escola B    2949
Escola L    3999
Escola D    4635
Escola M    4761
Escola H    4976
Name: Nome_Escola, dtype: int64

In [597]:
orc_escola = df_full.groupby('Nome_Escola').mean()['Orcamento_Anual'].sort_values()
orc_escola

/tmp/ipykernel_519036/2394636164.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  orc_escola = df_full.groupby('Nome_Escola').mean()['Orcamento_Anual'].sort_values()

Nome_Escola
Escola I     248087.0
Escola J     585858.0
Escola E     917500.0
Escola O    1043130.0
Escola K    1049400.0
Escola C    1056600.0
Escola G    1081356.0
Escola F    1319574.0
Escola N    1763916.0
Escola B    1884411.0
Escola A    1910635.0
Escola L    2547363.0
Escola D    3022020.0
Escola M    3094650.0
Escola H    3124928.0
Name: Orcamento_Anual, dtype: float64

In [601]:
orc_escola_percapita = (orc_escola / total_estudantes_escola).sort_values()
orc_escola_percapita

Escola F    578.000000
Escola I    581.000000
Escola G    582.000000
Escola K    583.000000
Escola C    600.000000
Escola J    609.000000
Escola E    625.000000
Escola H    628.000000
Escola L    637.000000
Escola B    639.000000
Escola O    641.926154
Escola N    644.000000
Escola M    650.000000
Escola D    652.000000
Escola A    655.000000
dtype: float64

### 6 - Qual a nota média dos alunos em Redação para cada escola?

In [606]:
df_media_redacao = df_full.groupby('Nome_Escola').mean()['Nota_Redacao'].sort_values()
df_media_redacao

/tmp/ipykernel_519036/1655814136.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_media_redacao = df_full.groupby('Nome_Escola').mean()['Nota_Redacao'].sort_values()

Nome_Escola
Escola L    80.744686
Escola N    80.746258
Escola D    80.934412
Escola M    80.966394
Escola H    81.033963
Escola B    81.158020
Escola A    81.182722
Escola C    83.725724
Escola O    83.810462
Escola I    83.814988
Escola E    83.816757
Escola K    83.955000
Escola G    83.975780
Escola F    83.989488
Escola J    84.044699
Name: Nota_Redacao, dtype: float64

### 7 - Qual a nota média dos alunos em Matemática para cada escola?

In [607]:
df_media_matematica = df_full.groupby('Nome_Escola').mean()['Nota_Matematica'].sort_values()
df_media_matematica

/tmp/ipykernel_519036/2619008767.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_media_matematica = df_full.groupby('Nome_Escola').mean()['Nota_Matematica'].sort_values()

Nome_Escola
Escola A    76.629414
Escola B    76.711767
Escola L    76.842711
Escola H    77.048432
Escola M    77.072464
Escola N    77.102592
Escola D    77.289752
Escola G    83.061895
Escola F    83.274201
Escola E    83.351499
Escola C    83.359455
Escola O    83.435077
Escola K    83.682222
Escola I    83.803279
Escola J    83.839917
Name: Nota_Matematica, dtype: float64

### 8 - Considerando somente os alunos aprovados em Redação, qual a média de alunos aprovados por escola?

In [531]:
aprovados_redacao = df_full[df_full['Nota_Redacao'] >= 70]
aprovados_redacao = (aprovados_redacao.groupby('Nome_Escola').count()['Nome_Estudante'] / estudantes_escola * 100).sort_values()
aprovados_redacao

Escola N    79.299014
Escola L    80.220055
Escola B    80.739234
Escola D    80.862999
Escola M    81.222432
Escola A    81.316421
Escola H    81.933280
Escola C    95.854628
Escola J    95.945946
Escola I    96.252927
Escola F    96.539641
Escola K    96.611111
Escola G    97.039828
Escola E    97.138965
Escola O    97.292308
dtype: float64

### 9 - Considerando somente os alunos aprovados em Matemática, qual a média de alunos aprovados por escola?

In [537]:
aprovados_matematica = df_full[df_full['Nota_Matematica'] >= 70]
aprovados_matematica = (aprovados_matematica.groupby('Nome_Escola').count()['Nome_Estudante'] / estudantes_escola * 100).sort_values()
aprovados_matematica

Escola A    65.683922
Escola B    65.988471
Escola M    66.057551
Escola L    66.366592
Escola H    66.680064
Escola D    66.752967
Escola N    68.309602
Escola I    92.505855
Escola O    93.230769
Escola K    93.333333
Escola E    93.392371
Escola C    93.867121
Escola F    93.867718
Escola G    94.133477
Escola J    94.594595
dtype: float64

### 10 - Considerando alunos aprovados em Matemática e Redação, qual foi a média de alunos aprovados por escola?

In [541]:
df_aprovados_mat_red = df_full[(df_full['Nota_Matematica'] >= 70 ) & (df_full['Nota_Redacao'] >= 70)] 
df_aprovados_mat_red = (df_aprovados_mat_red.groupby('Nome_Escola').count()['Nome_Estudante'] / estudantes_escola * 100).sort_values()
df_aprovados_mat_red

Escola L    52.988247
Escola B    53.204476
Escola A    53.513884
Escola D    53.527508
Escola M    53.539172
Escola N    54.289887
Escola H    54.642283
Escola I    89.227166
Escola C    89.892107
Escola K    90.333333
Escola J    90.540541
Escola F    90.582567
Escola E    90.599455
Escola O    90.892308
Escola G    91.334769
dtype: float64

In [608]:
df_resumo_performance_escolar = pd.DataFrame({'Tipo Escola': tipos_escolas,
                                              'Total Estudantes': estudantes_escola,
                                              'Total Orçamento': orc_escola,
                                              'Orçamento Por Estudante': orc_escola_percapita,
                                              'Nota Média Aprovação Redação': df_media_redacao,
                                              'Nota Média Aprovação Matemática': df_media_matematica,
                                              '% Aprovados Redação': aprovados_redacao,
                                              '% Aprovados Matemática': aprovados_matematica,
                                              '% Geral Aprovados': df_aprovados_mat_red})

In [609]:
df_resumo_performance_escolar

,Tipo Escola,Total Estudantes,Total Orçamento,Orçamento Por Estudante,Nota Média Aprovação Redação,Nota Média Aprovação Matemática,% Aprovados Redação,% Aprovados Matemática,% Geral Aprovados
Escola A,Publica,2917,1910635.0,655.000000,81.182722,76.629414,81.316421,65.683922,53.513884
Escola B,Publica,2949,1884411.0,639.000000,81.158020,76.711767,80.739234,65.988471,53.204476
Escola C,Particular,1761,1056600.0,600.000000,83.725724,83.359455,95.854628,93.867121,89.892107
Escola D,Publica,4635,3022020.0,652.000000,80.934412,77.289752,80.862999,66.752967,53.527508
Escola E,Particular,1468,917500.0,625.000000,83.816757,83.351499,97.138965,93.392371,90.599455
Escola F,Particular,2283,1319574.0,578.000000,83.989488,83.274201,96.539641,93.867718,90.582567
Escola G,Particular,1858,1081356.0,582.000000,83.975780,83.061895,97.039828,94.133477,91.334769
Escola H,Publica,4976,3124928.0,628.000000,81.033963,77.048432,81.933280,66.680064,54.642283
Escola I,Particular,427,248087.0,581.000000,83.814988,83.803279,96.252927,92.505855,89.227166
Escola J,Particular,962,585858.0,609.000000,84.044699,83.839917,95.945946,94.594595,90.540541
Escola K,Particular,1800,1049400.0,583.000000,83.955000,83.682222,96.611111,93.333333,90.333333
Escola L,Publica,3999,2547363.0,637.000000,80.744686,76.842711,80.220055,66.366592,52.988247
Escola M,Publica,4761,3094650.0,650.000000,80.966394,77.072464,81.222432,66.057551,53.539172
Escola N,Publica,2739,1763916.0,644.000000,80.746258,77.102592,79.299014,68.309602,54.289887
Escola O,Particular,1625,1043130.0,641.926154,83.810462,83.435077,97.292308,93.230769,90.892308

### 11 A - Considerando a taxa geral de aprovados, quais as 5 escolas com melhor performance?

In [611]:
melhores_performances = df_resumo_performance_escolar['% Geral Aprovados'].sort_values()
melhores_performances.tail(5)

Escola J    90.540541
Escola F    90.582567
Escola E    90.599455
Escola O    90.892308
Escola G    91.334769
Name: % Geral Aprovados, dtype: float64

### 11 B - Considerando a taxa geral de aprovados, quais as 5 escolas com pior performance?

In [612]:
melhores_performances = df_resumo_performance_escolar['% Geral Aprovados'].sort_values()
melhores_performances.head(5)

Escola L    52.988247
Escola B    53.204476
Escola A    53.513884
Escola D    53.527508
Escola M    53.539172
Name: % Geral Aprovados, dtype: float64

### 12 - Em cada série, qual escola teve os alunos com melhor performance em Matematica?

In [620]:
sexta_serie = df_full[df_full['Serie'] == 6]
setima_serie = df_full[df_full['Serie'] == 7]
oitava_serie = df_full[df_full['Serie'] == 8]
nona_serie = df_full[df_full['Serie'] == 9]

In [619]:
sexta_serie.head()

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica,ID_Escola,Tipo_Escola,Numero_Alunos,Orcamento_Anual
0,0,Kevin Bradley,M,6,Escola A,66,79,0,Publica,2917,1910635
4,4,William Ray,F,6,Escola A,97,84,0,Publica,2917,1910635
5,5,James Miranda,M,6,Escola A,94,94,0,Publica,2917,1910635
12,12,Sebastian Walker,F,6,Escola A,64,79,0,Publica,2917,1910635
13,13,Mateo Long,M,6,Escola A,71,79,0,Publica,2917,1910635

In [629]:
notas_sexta_serie = sexta_serie.groupby(['Nome_Escola']).mean()['Nota_Matematica']
notas_setima_serie = setima_serie.groupby(['Nome_Escola']).mean()['Nota_Matematica']
notas_oitava_serie = oitava_serie.groupby(['Nome_Escola']).mean()['Nota_Matematica']
notas_nona_serie = nona_serie.groupby(['Nome_Escola']).mean()['Nota_Matematica']

/tmp/ipykernel_519036/2274630490.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  notas_sexta_serie = sexta_serie.groupby(['Nome_Escola']).mean()['Nota_Matematica']
/tmp/ipykernel_519036/2274630490.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  notas_setima_serie = setima_serie.groupby(['Nome_Escola']).mean()['Nota_Matematica']
/tmp/ipykernel_519036/2274630490.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  notas_oitava_serie = oitava_serie.groupby(['Nome_Escola']).mean()['Nota_Matematica']

In [630]:
notas_por_serie = pd.DataFrame({'Sexta Série': notas_sexta_serie,
                                'Setima Série': notas_setima_serie,
                                'Oitava Série': notas_oitava_serie,
                                'Nona Série': notas_nona_serie})

In [634]:
notas_por_serie.sort_values(by='Nome_Escola')

             Sexta Série  Setima Série  Oitava Série  Nona Série
Nome_Escola
Escola A       77.027251     75.908735     76.446602   77.225641
Escola B       76.403037     76.539974     76.884344   77.151369
Escola C       83.420755     82.917411     83.383495   83.778976
Escola D       77.438495     77.337408     77.136029   77.186567
Escola E       82.044010     84.229064     83.842105   83.356164
Escola F       83.085578     83.724422     83.195326   83.035794
Escola G       83.094697     83.154506     82.765560   83.277487
Escola H       77.083676     76.996772     77.515588   76.492218
Escola I       83.787402     83.429825     85.000000   82.855422
Escola J       83.625455     83.372000     84.328125   84.121547
Escola K       83.264706     84.010288     83.836782   83.644986
Escola L       76.859966     76.612500     76.395626   77.690748
Escola M       77.187857     76.691117     77.491653   76.863248
Escola N       77.361345     77.672316     76.918058   76.179963
Escola O       83.605664     83.100478     83.533981   83.497024

In [638]:
notas_por_serie['Sexta Série'].idxmax()

'Escola I'

In [639]:
notas_por_serie['Setima Série'].idxmax()

'Escola E'

In [640]:
notas_por_serie['Oitava Série'].idxmax()

'Escola I'

In [641]:
notas_por_serie['Nona Série'].idxmax()

'Escola J'

### 13 - Considerando as faixas de gastos por estudante como sendo? [0, 585, 630, 645, 680], qual faixa resulta em estudantes com melhor perforance?

In [645]:
df_resumo_performance_escolar

,Tipo Escola,Total Estudantes,Total Orçamento,Orçamento Por Estudante,Nota Média Aprovação Redação,Nota Média Aprovação Matemática,% Aprovados Redação,% Aprovados Matemática,% Geral Aprovados
Escola A,Publica,2917,1910635.0,655.000000,81.182722,76.629414,81.316421,65.683922,53.513884
Escola B,Publica,2949,1884411.0,639.000000,81.158020,76.711767,80.739234,65.988471,53.204476
Escola C,Particular,1761,1056600.0,600.000000,83.725724,83.359455,95.854628,93.867121,89.892107
Escola D,Publica,4635,3022020.0,652.000000,80.934412,77.289752,80.862999,66.752967,53.527508
Escola E,Particular,1468,917500.0,625.000000,83.816757,83.351499,97.138965,93.392371,90.599455
Escola F,Particular,2283,1319574.0,578.000000,83.989488,83.274201,96.539641,93.867718,90.582567
Escola G,Particular,1858,1081356.0,582.000000,83.975780,83.061895,97.039828,94.133477,91.334769
Escola H,Publica,4976,3124928.0,628.000000,81.033963,77.048432,81.933280,66.680064,54.642283
Escola I,Particular,427,248087.0,581.000000,83.814988,83.803279,96.252927,92.505855,89.227166
Escola J,Particular,962,585858.0,609.000000,84.044699,83.839917,95.945946,94.594595,90.540541
Escola K,Particular,1800,1049400.0,583.000000,83.955000,83.682222,96.611111,93.333333,90.333333
Escola L,Publica,3999,2547363.0,637.000000,80.744686,76.842711,80.220055,66.366592,52.988247
Escola M,Publica,4761,3094650.0,650.000000,80.966394,77.072464,81.222432,66.057551,53.539172
Escola N,Publica,2739,1763916.0,644.000000,80.746258,77.102592,79.299014,68.309602,54.289887
Escola O,Particular,1625,1043130.0,641.926154,83.810462,83.435077,97.292308,93.230769,90.892308

In [652]:
primeiro_grupo = df_resumo_performance_escolar[(df_resumo_performance_escolar['Orçamento Por Estudante'] >= 0) & (df_resumo_performance_escolar['Orçamento Por Estudante'] <= 585)]
segundo_grupo = df_resumo_performance_escolar[(df_resumo_performance_escolar['Orçamento Por Estudante'] > 585) & (df_resumo_performance_escolar['Orçamento Por Estudante'] <= 630)]
terceiro_grupo = df_resumo_performance_escolar[(df_resumo_performance_escolar['Orçamento Por Estudante'] > 630) & (df_resumo_performance_escolar['Orçamento Por Estudante'] <= 645)]
quarto_grupo = df_resumo_performance_escolar[(df_resumo_performance_escolar['Orçamento Por Estudante'] > 645) & (df_resumo_performance_escolar['Orçamento Por Estudante'] <= 680)]

In [657]:
primeiro_grupo_media = primeiro_grupo.mean()['% Geral Aprovados']
segundo_grupo_media = segundo_grupo.mean()['% Geral Aprovados']
terceiro_grupo_media = terceiro_grupo.mean()['% Geral Aprovados']
quarto_grupo_media = quarto_grupo.mean()['% Geral Aprovados']

/tmp/ipykernel_519036/1544611957.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  primeiro_grupo_media = primeiro_grupo.mean()['% Geral Aprovados']
/tmp/ipykernel_519036/1544611957.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  segundo_grupo_media = segundo_grupo.mean()['% Geral Aprovados']
/tmp/ipykernel_519036/1544611957.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  terceiro_grupo_media = terceiro_grupo.mean()['% Geral Aprovados']
/tmp/ipykernel_519036/1544611957.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  quarto_grupo_media = quarto_grupo.mean()['% Geral Aprovados']

In [663]:
desempenho_grupo = pd.DataFrame([primeiro_grupo_media, segundo_grupo_media, terceiro_grupo_media, quarto_grupo_media], 
                                index = ['0 a 585', '585 a 630', '630 a 645', '645 a 680'])
desempenho_grupo

                   0
0 a 585    90.369459
585 a 630  81.418596
630 a 645  62.843729
645 a 680  53.526855

### 14 - Considerando as faixas de tamanho (número de alunos) das escolas sendo? [0, 1000, 2000, 5000], qual faixa resulta em estudantes com melhor performance?

In [664]:
df_resumo_performance_escolar.columns

Index(['Tipo Escola', 'Total Estudantes', 'Total Orçamento',
       'Orçamento Por Estudante', 'Nota Média Aprovação Redação',
       'Nota Média Aprovação Matemática', '% Aprovados Redação',
       '% Aprovados Matemática', '% Geral Aprovados'],
      dtype='object')

In [665]:
tamanho_bins = [0, 1000, 2000, 5000]
labels_tamanhos = ['Pequeno Porte (<1000)', 'Médio Porte (1000-2000)', 'Grande Porte (2000-5000)']

In [666]:
df_resumo_performance_escolar['Tamanho_Escola'] = pd.cut(df_resumo_performance_escolar['Total Estudantes'],
                                                         tamanho_bins,
                                                         labels = labels_tamanhos,
                                                         right = False)

In [667]:
df_resumo_performance_escolar

,Tipo Escola,Total Estudantes,Total Orçamento,Orçamento Por Estudante,Nota Média Aprovação Redação,Nota Média Aprovação Matemática,% Aprovados Redação,% Aprovados Matemática,% Geral Aprovados,Tamanho_Escola
Escola A,Publica,2917,1910635.0,655.000000,81.182722,76.629414,81.316421,65.683922,53.513884,Grande Porte (2000-5000)
Escola B,Publica,2949,1884411.0,639.000000,81.158020,76.711767,80.739234,65.988471,53.204476,Grande Porte (2000-5000)
Escola C,Particular,1761,1056600.0,600.000000,83.725724,83.359455,95.854628,93.867121,89.892107,Médio Porte (1000-2000)
Escola D,Publica,4635,3022020.0,652.000000,80.934412,77.289752,80.862999,66.752967,53.527508,Grande Porte (2000-5000)
Escola E,Particular,1468,917500.0,625.000000,83.816757,83.351499,97.138965,93.392371,90.599455,Médio Porte (1000-2000)
Escola F,Particular,2283,1319574.0,578.000000,83.989488,83.274201,96.539641,93.867718,90.582567,Grande Porte (2000-5000)
Escola G,Particular,1858,1081356.0,582.000000,83.975780,83.061895,97.039828,94.133477,91.334769,Médio Porte (1000-2000)
Escola H,Publica,4976,3124928.0,628.000000,81.033963,77.048432,81.933280,66.680064,54.642283,Grande Porte (2000-5000)
Escola I,Particular,427,248087.0,581.000000,83.814988,83.803279,96.252927,92.505855,89.227166,Pequeno Porte (<1000)
Escola J,Particular,962,585858.0,609.000000,84.044699,83.839917,95.945946,94.594595,90.540541,Pequeno Porte (<1000)
Escola K,Particular,1800,1049400.0,583.000000,83.955000,83.682222,96.611111,93.333333,90.333333,Médio Porte (1000-2000)
Escola L,Publica,3999,2547363.0,637.000000,80.744686,76.842711,80.220055,66.366592,52.988247,Grande Porte (2000-5000)
Escola M,Publica,4761,3094650.0,650.000000,80.966394,77.072464,81.222432,66.057551,53.539172,Grande Porte (2000-5000)
Escola N,Publica,2739,1763916.0,644.000000,80.746258,77.102592,79.299014,68.309602,54.289887,Grande Porte (2000-5000)
Escola O,Particular,1625,1043130.0,641.926154,83.810462,83.435077,97.292308,93.230769,90.892308,Médio Porte (1000-2000)

In [671]:
desempenho_por_porte = df_resumo_performance_escolar.groupby(['Tamanho_Escola']).mean()['% Geral Aprovados'].sort_values()
desempenho_por_porte

/tmp/ipykernel_519036/2850348164.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  desempenho_por_porte = df_resumo_performance_escolar.groupby(['Tamanho_Escola']).mean()['% Geral Aprovados'].sort_values()

Tamanho_Escola
Grande Porte (2000-5000)    58.286003
Pequeno Porte (<1000)       89.883853
Médio Porte (1000-2000)     90.610394
Name: % Geral Aprovados, dtype: float64

### 15 - Qual o impacto do tipo da escola na performance dos alunos?

In [676]:
desempenho_por_escola = df_resumo_performance_escolar.groupby('Tipo Escola').mean()['% Geral Aprovados']
desempenho_por_escola

/tmp/ipykernel_519036/196737346.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  desempenho_por_escola = df_resumo_performance_escolar.groupby('Tipo Escola').mean()['% Geral Aprovados']

Tipo Escola
Particular    90.425281
Publica       53.672208
Name: % Geral Aprovados, dtype: float64

In [680]:
df_resumo_performance_escolar.to_excel('df_resumo_performance_escolar.xlsx')