In [1]:
import numpy as np

In [2]:
# Filtrando os warnings 
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Função para formatar as saídas do NumPy
np.set_printoptions(suppress = True, linewidth = 200, precision = 2)

Carregando o Dataset
https://numpy.org/doc/stable/reference/generated/numpy.genfromtxt.html

In [4]:
dados = np.genfromtxt('dataset1.csv',
                     delimiter = ';',
                     skip_header = 1,
                     autostrip = True,
                     encoding = 'cp1252')

In [5]:
dados.view()

array([[48010226.  ,         nan,    35000.  , ...,         nan,         nan,     9452.96],
       [57693261.  ,         nan,    30000.  , ...,         nan,         nan,     4679.7 ],
       [59432726.  ,         nan,    15000.  , ...,         nan,         nan,     1969.83],
       ...,
       [50415990.  ,         nan,    10000.  , ...,         nan,         nan,     2185.64],
       [46154151.  ,         nan,         nan, ...,         nan,         nan,     3199.4 ],
       [66055249.  ,         nan,    10000.  , ...,         nan,         nan,      301.9 ]])

In [6]:
type(dados)

numpy.ndarray

In [7]:
dados.shape

(10000, 14)

Observe como várias colunas estão com o tipo nan. Isso se deve a caracteres especiais no conjunto de dados e a forma como o NumPy carrega dados numéricos e do tipo string. Vamos resolver isso

Verificando Valores Ausentes

In [8]:
np.isnan(dados).sum()

88005

In [9]:
# Vamos retornar o maior valor + 1 ignorando valores nan
# Usaremos esse valor para preencher os valores ausentes no momento da carga de dados de variáveis
# numéricas e depois tratamos esse valor como ausente
valor_coringa = np.nanmax(dados) + 1
print(valor_coringa)

68616520.0

In [10]:
# Calculamos a média (variáveis numéricas) ignorando valores nan por coluna
# Usaremos isso para separar variáveis numéricas de variáveis do tipo string
media_ignorando_nan = np.nanmean(dados, axis = 0)
print(media_ignorando_nan)

[54015809.19         nan    15273.46         nan    15311.04         nan       16.62      440.92         nan         nan         nan         nan         nan     3143.85]

In [11]:
# Colunas do tipo string com valores ausentes
colunas_strings = np.argwhere(np.isnan(media_ignorando_nan)).squeeze()
colunas_strings

array([ 1,  3,  5,  8,  9, 10, 11, 12])

In [12]:
# Colunas numéricas
colunas_numericas = np.argwhere(np.isnan(media_ignorando_nan) == False).squeeze()
colunas_numericas

array([ 0,  2,  4,  6,  7, 13])

Importados novamente o dataset, separando colunas do tipo string de colunas numéricas

In [13]:
# Carrega as colunas do tipo string
arr_strings = np.genfromtxt('dataset1.csv',
                           delimiter = ';',
                           skip_header = 1,
                           autostrip = True,
                           usecols = colunas_strings,
                           dtype = str,
                           encoding = 'cp1252')

In [14]:
arr_strings

array([['May-15', 'Current', '36 months', ..., 'Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']], dtype='<U69')

In [15]:
# Carrega as colunas do tipo numeric
arr_numeric = np.genfromtxt('dataset1.csv',
                           delimiter = ';',
                           skip_header = 1,
                           autostrip = True,
                           usecols = colunas_numericas,
                           filling_values = valor_coringa,
                           encoding = 'cp1252')

In [16]:
arr_numeric

array([[48010226.  ,    35000.  ,    35000.  ,       13.33,     1184.86,     9452.96],
       [57693261.  ,    30000.  ,    30000.  , 68616520.  ,      938.57,     4679.7 ],
       [59432726.  ,    15000.  ,    15000.  , 68616520.  ,      494.86,     1969.83],
       ...,
       [50415990.  ,    10000.  ,    10000.  , 68616520.  , 68616520.  ,     2185.64],
       [46154151.  , 68616520.  ,    10000.  ,       16.55,      354.3 ,     3199.4 ],
       [66055249.  ,    10000.  ,    10000.  , 68616520.  ,      309.97,      301.9 ]])

Agora extraímos o nome das colunas

In [17]:
# Carrega os nomes das colunas
arr_nomes_colunas = np.genfromtxt('dataset1.csv',
                           delimiter = ';',
                           autostrip = True,
                           skip_footer = dados.shape[0],
                           dtype = str,
                           encoding = 'cp1252')

In [18]:
arr_nomes_colunas

array(['id', 'issue_d', 'loan_amnt', 'loan_status', 'funded_amnt', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state', 'total_pymnt'], dtype='<U19')

In [19]:
# Separa cabeçalho de colunas numéricas e string
header_strings, header_numeric = arr_nomes_colunas[colunas_strings], arr_nomes_colunas[colunas_numericas]

In [20]:
header_strings

array(['issue_d', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [21]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

Função de Checkpoint

Checkpoint 1 

Vamos criar uma função de checkpoint para salvar os resultados intermediários.

In [22]:
# Função
def checkpoint(file_name, checkpoint_header, checkpoint_data):
    np.savez(file_name, header = checkpoint_header, data = checkpoint_data)
    checkpoint_variable = np.load(file_name + '.npz')
    return(checkpoint_variable)

In [23]:
checkpoint_inicial = checkpoint('Checkpoint-Inicial', header_strings, arr_strings)

In [24]:
checkpoint_inicial['data']

array([['May-15', 'Current', '36 months', ..., 'Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']], dtype='<U69')

In [25]:
np.array_equal(checkpoint_inicial['data'], arr_strings)

True

Manipulando as Colunas do Tipo String

In [26]:
header_strings

array(['issue_d', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [27]:
# Ajustando o nome da coluna issue_d para faciltitar a identificação da coluna
header_strings[0] = "issue_date"

In [28]:
header_strings

array(['issue_date', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [29]:
arr_strings

array([['May-15', 'Current', '36 months', ..., 'Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']], dtype='<U69')

Pré-processamento da variável issue_date com Label Encoding

In [30]:
# Extrai os valores únicos da variável
np.unique(arr_strings[:,0])

array(['', 'Apr-15', 'Aug-15', 'Dec-15', 'Feb-15', 'Jan-15', 'Jul-15', 'Jun-15', 'Mar-15', 'May-15', 'Nov-15', 'Oct-15', 'Sep-15'], dtype='<U69')

In [31]:
# Vamos remover o sufixo -15 e converter um um array de strings
arr_strings[:,0] = np.chararray.strip(arr_strings[:,0], '-15')

In [32]:
# Extrai os valores únicos da variável
np.unique(arr_strings[:,0])

array(['', 'Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov', 'Oct', 'Sep'], dtype='<U69')

In [33]:
# Criamos um array com os meses (incluindo o elemento como vazio para o que estiver em branco)
meses = np.array(['', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])

In [34]:
# Loop para converter os nomes dos meses em valores numéricos
# Chamamos isso de label encoding
for i in range(13):
    arr_strings[:,0] = np.where(arr_strings[:,0] == meses[i], i, arr_strings[:,0])

In [35]:
np.unique(arr_strings[:,0])

array(['0', '1', '10', '11', '12', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='<U69')

Pré-processamento da Variável loan_status com Binarização

In [36]:
header_strings

array(['issue_date', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [37]:
# Extrai os valores únicos da variável
np.unique(arr_strings[:,1])

array(['', 'Charged Off', 'Current', 'Default', 'Fully Paid', 'In Grace Period', 'Issued', 'Late (16-30 days)', 'Late (31-120 days)'], dtype='<U69')

In [38]:
# Número de elementos
np.unique(arr_strings[:,1]).size

9

In [39]:
# Criamos um array com apenas 3 status
status_bad = np.array(['', 'Charged Off', 'Default', 'Late (31-120 days)'])

In [40]:
# Checamos agora os valores da variável e comparamos com o array anterior 
# convertendo a variável para valores binários, isso é binarização
arr_strings[:,1] = np.where(np.isin(arr_strings[:,1], status_bad),0,1)

In [41]:
# Extrai os valores únicos da variável
np.unique(arr_strings[:,1])

array(['0', '1'], dtype='<U69')

Pré-Processamento da Variável term com Limpeza de String

In [42]:
header_strings

array(['issue_date', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [43]:
# Extrai os valores únicos da variável
np.unique(arr_strings[:,2])

array(['', '36 months', '60 months'], dtype='<U69')

In [44]:
# Removemos a palavra months (observe o espaço antes da palavra)
arr_strings[:,2] = np.chararray.strip(arr_strings[:,2], " months")
arr_strings[:,2]

array(['36', '36', '36', ..., '36', '36', '36'], dtype='<U69')

In [45]:
# Mudamos o título da variável
header_strings[2] = "term_months"

In [46]:
# Substítuimos os valores ausentes pelo maior valor, em nosso caso 60
arr_strings[:,2] = np.where(arr_strings[:,2] == '', '60', arr_strings[:,2])

In [47]:
arr_strings[:,2]

array(['36', '36', '36', ..., '36', '36', '36'], dtype='<U69')

In [48]:
# Extrai os valores únicos da variável
np.unique(arr_strings[:,2])

array(['36', '60'], dtype='<U69')

Pré-Processamento das Variáveis grade e sub_grade com Dicionário (Tipo de Label Encoding )

In [49]:
header_strings

array(['issue_date', 'loan_status', 'term_months', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [50]:
# Extrai os valores únicos da variável
np.unique(arr_strings[:,3])

array(['', 'A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='<U69')

In [51]:
# Extrai os valores únicos da variável
np.unique(arr_strings[:,4])

array(['', 'A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5', 'G1',
       'G2', 'G3', 'G4', 'G5'], dtype='<U69')

Ajustando a variável sub-grade

In [52]:
np.unique(arr_strings[:,3])

array(['', 'A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='<U69')

In [53]:
np.unique(arr_strings[:,3])[1:]

array(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='<U69')

In [54]:
# Loop para ajuste da variável sub_grade
for i in np.unique(arr_strings[:,3])[1:]:
    arr_strings[:,4] = np.where((arr_strings[:,4] == '') & (arr_strings[:,3] == i), i + '5', arr_strings[:,4])

In [55]:
# Retorna categorias e suas respectivas contagens
np.unique(arr_strings[:,4], return_counts = True)

(array(['', 'A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5', 'G1',
        'G2', 'G3', 'G4', 'G5'], dtype='<U69'),
 array([  9, 285, 278, 239, 323, 592, 509, 517, 530, 553, 633, 629, 567, 586, 564, 577, 391, 267, 250, 255, 288, 235, 162, 171, 139, 160,  94,  52,  34,  43,  24,  19,  10,   3,   7,   5]))

In [56]:
# Substítuimos valores ausentes por uma nova categoria
arr_strings[:,4] = np.where(arr_strings[:,4] == '', 'H1', arr_strings[:,4])

In [57]:
# Extrai os valores únicos da variável
np.unique(arr_strings[:,4])

array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5', 'G1', 'G2',
       'G3', 'G4', 'G5', 'H1'], dtype='<U69')

Vamos remover a variável grade.

In [58]:
# Não precisamos mais da variável grade. Podemos removê-la.
arr_strings = np.delete(arr_strings, 3, axis = 1)

In [59]:
# Nova variável no coluna índice 3
arr_strings[:,3]

array(['C3', 'A5', 'B5', ..., 'A5', 'D2', 'A4'], dtype='<U69')

In [60]:
# É necessário remover a coluna do array de nomes de colunas
header_strings = np.delete(header_strings, 3)

In [61]:
# Nova variável na coluna de índice 3
header_strings[3]

'sub_grade'

Por fim, convertemos a variável sub_grade para sua representação numérica.

In [62]:
# Extrai os valores únicos da variável
np.unique(arr_strings[:,3])

array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5', 'G1', 'G2',
       'G3', 'G4', 'G5', 'H1'], dtype='<U69')

In [63]:
# Cria uma lista de chaves
keys = list(np.unique(arr_strings[:,3]))
keys[0]

'A1'

In [64]:
# Cria uma lista de valores
values = list(range(1, np.unique(arr_strings[:,3]).shape[0] + 1))
values[0]

1

In [65]:
# Criamos então o dicionário
dict_sub_grade = dict(zip(keys, values))

In [66]:
dict_sub_grade

{'A1': 1,
 'A2': 2,
 'A3': 3,
 'A4': 4,
 'A5': 5,
 'B1': 6,
 'B2': 7,
 'B3': 8,
 'B4': 9,
 'B5': 10,
 'C1': 11,
 'C2': 12,
 'C3': 13,
 'C4': 14,
 'C5': 15,
 'D1': 16,
 'D2': 17,
 'D3': 18,
 'D4': 19,
 'D5': 20,
 'E1': 21,
 'E2': 22,
 'E3': 23,
 'E4': 24,
 'E5': 25,
 'F1': 26,
 'F2': 27,
 'F3': 28,
 'F4': 29,
 'F5': 30,
 'G1': 31,
 'G2': 32,
 'G3': 33,
 'G4': 34,
 'G5': 35,
 'H1': 36}

In [67]:
# Loop para substituir a string com as categorias pela representação numérica (frequência)
for i in np.unique(arr_strings[:,3]):
    arr_strings[:,3] = np.where(arr_strings[:,3] == i, dict_sub_grade[i], arr_strings[:,3])

In [68]:
# Extrai os valores únicos da varíavel
np.unique(arr_strings[:,3])

array(['1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '3', '30', '31', '32', '33', '34', '35', '36', '4', '5', '6',
       '7', '8', '9'], dtype='<U69')

Pré-processameno da Variável Verification status com Binarização

In [69]:
# Lista com os nomes das variáveis
header_strings

array(['issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [70]:
# Extrai os valores únicos da variável
np.unique(arr_strings[:,4])

array(['', 'Not Verified', 'Source Verified', 'Verified'], dtype='<U69')

In [71]:
# Usamos a binarização neste variável
arr_strings[:,4] = np.where((arr_strings[:,4] == '') | (arr_strings[:,4] == 'Not Verified'), 0, 1)

In [72]:
# Extrai os valores únicos da variável
np.unique(arr_strings[:,4])

array(['0', '1'], dtype='<U69')

Pré-processamento da Variável url com Extração de ID

In [73]:
# Visualiza amostra dos dados
arr_strings[:,5]

array(['https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', ..., 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249'], dtype='<U69')

In [74]:
# Extraímos o id ao final de cada url
np.chararray.strip(arr_strings[:,5], "'https://www.lendingclub.com/browse/loanDetail.action?loan_id=")

chararray(['48010226', '57693261', '59432726', ..., '50415990', '46154151', '66055249'], dtype='<U69')

In [75]:
# Substituímos a url pelo valor do id da url
arr_strings[:,5] = np.chararray.strip(arr_strings[:,5],
                                      "https://www.lendingclub.com/browse/loanDetail.action?loan_id=")

In [76]:
# Analisando os valores únicos
np.unique(arr_strings[:,5])

array(['12606806', '13026045', '1312426', ..., '8138291', '8214572', '849994'], dtype='<U69')

In [77]:
# Convertemos o tipo para int32
arr_strings[:,5].astype(dtype = np.int32)

array([48010226, 57693261, 59432726, ..., 50415990, 46154151, 66055249], dtype=int32)

In [78]:
# Parece que esse id está presente na primeira coluna do conjunto de dados.
# Vamos converter para int 32 e comparar
arr_numeric[:,0].astype(dtype = np.int32)

array([48010226, 57693261, 59432726, ..., 50415990, 46154151, 66055249], dtype=int32)

In [79]:
np.array_equal(arr_numeric[:,0].astype(dtype = np.int32), arr_strings[:,5].astype(dtype = np.int32))

True

A informação do array 0 e do array 5 agora são iguais, então vamos remover o array 5

In [80]:
# Remove o array de dados
arr_strings = np.delete(arr_strings, 5, axis = 1)

In [81]:
# Remove do array de nome de coluna
header_strings = np.delete(header_strings, 5)

In [82]:
# Nova coluna no índice 5
arr_strings[:,5]

array(['CA', 'NY', 'PA', ..., 'CA', 'OH', 'IL'], dtype='<U69')

In [83]:
# Nova lista de colunas
header_strings

array(['issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'addr_state'], dtype='<U19')

In [84]:
# Coluna id
arr_numeric[:,0]

array([48010226., 57693261., 59432726., ..., 50415990., 46154151., 66055249.])

In [85]:
# Coluna id agora faz parte do array de numéricos
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

Pré-processamento da Variável address com Categorização

In [86]:
header_strings

array(['issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'addr_state'], dtype='<U19')

In [87]:
# Vamos ajustar o nome da coluna
header_strings[5] = 'state_address'

In [88]:
# Extrai nomes e contagens
states_names, states_count = np.unique(arr_strings[:,5], return_counts = True)

In [89]:
# Ordena em ordem decrescente
states_count_sorted = np.argsort(-states_count)

In [90]:
# Imprime o resultado
states_names[states_count_sorted], states_count[states_count_sorted]

(array(['CA', 'NY', 'TX', 'FL', '', 'IL', 'NJ', 'GA', 'PA', 'OH', 'MI', 'NC', 'VA', 'MD', 'AZ', 'WA', 'MA', 'CO', 'MO', 'MN', 'IN', 'WI', 'CT', 'TN', 'NV', 'AL', 'LA', 'OR', 'SC', 'KY', 'KS', 'OK',
        'UT', 'AR', 'MS', 'NH', 'NM', 'WV', 'HI', 'RI', 'MT', 'DE', 'DC', 'WY', 'AK', 'NE', 'SD', 'VT', 'ND', 'ME'], dtype='<U69'),
 array([1336,  777,  758,  690,  500,  389,  341,  321,  320,  312,  267,  261,  242,  222,  220,  216,  210,  201,  160,  156,  152,  148,  143,  143,  130,  119,  116,  108,  107,   84,   84,   83,
          74,   74,   61,   58,   57,   49,   44,   40,   28,   27,   27,   27,   26,   25,   24,   17,   16,   10]))

In [91]:
# Substítuimos valores ausentes por zero
arr_strings[:,5] = np.where(arr_strings[:,5] == '', 0, arr_strings[:,5])

In [92]:
# Separamos os estados por regiões
states_west = np.array(['WA', 'OR', 'CA', 'NV', 'ID', 'MT', 'WY', 'UT', 'CO', 'AZ', 'NM', 'HI', 'AK'])
states_south = np.array(['TX', 'OK', 'AR', 'LA', 'MS', 'AL', 'TN', 'KY', 'FL', 'GA', 'SC', 'NC', 'VA', 'WV', 'MD', 'DE', 'DC'])
states_midwest = np.array(['ND', 'SD', 'NE', 'KS', 'MN', 'IA', 'MO', 'WI', 'IL', 'IN', 'MI', 'OH'])
states_east = np.array(['PA', 'NY', 'NJ', 'CT', 'MA', 'VT', 'NH', 'ME', 'RI'])

In [93]:
# Agora substituímos cada estado pelo id da sua região
arr_strings[:,5] = np.where(np.isin(arr_strings[:,5], states_west), 1, arr_strings[:,5])
arr_strings[:,5] = np.where(np.isin(arr_strings[:,5], states_south), 2, arr_strings[:,5])
arr_strings[:,5] = np.where(np.isin(arr_strings[:,5], states_midwest), 3, arr_strings[:,5])
arr_strings[:,5] = np.where(np.isin(arr_strings[:,5], states_east), 4, arr_strings[:,5])

In [94]:
# Extrai os valores únicos 
np.unique(arr_strings[:,5])

array(['0', '1', '2', '3', '4'], dtype='<U69')

Convertendo o Array

Nosso array de strings agora é um array numérico. Vamos ajustar o tipo de dado.

In [95]:
arr_strings

array([['5', '1', '36', '13', '1', '1'],
       ['0', '1', '36', '5', '1', '4'],
       ['9', '1', '36', '10', '1', '4'],
       ...,
       ['6', '1', '36', '5', '1', '1'],
       ['4', '1', '36', '17', '1', '3'],
       ['12', '1', '36', '4', '0', '3']], dtype='<U69')

In [96]:
arr_strings = arr_strings.astype(int)

In [97]:
arr_strings

array([[ 5,  1, 36, 13,  1,  1],
       [ 0,  1, 36,  5,  1,  4],
       [ 9,  1, 36, 10,  1,  4],
       ...,
       [ 6,  1, 36,  5,  1,  1],
       [ 4,  1, 36, 17,  1,  3],
       [12,  1, 36,  4,  0,  3]])

In [98]:
arr_strings.dtype

dtype('int64')

Checkpoint com Variáveis do Tipo String Limpas e Pré-Processadas

Checkpoint 2

Concluída a primeira parte, vamos gravar o checkpoint

In [99]:
checkpoint_strings = checkpoint('Checkpoint-Strings', header_strings, arr_strings)

In [100]:
checkpoint_strings['header']

array(['issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'state_address'], dtype='<U19')

In [101]:
checkpoint_strings['data']

array([[ 5,  1, 36, 13,  1,  1],
       [ 0,  1, 36,  5,  1,  4],
       [ 9,  1, 36, 10,  1,  4],
       ...,
       [ 6,  1, 36,  5,  1,  1],
       [ 4,  1, 36, 17,  1,  3],
       [12,  1, 36,  4,  0,  3]])

In [102]:
np.array_equal(checkpoint_strings['data'], arr_strings)

True

Manipulando Colunas Numéricas

In [103]:
# Visualiza os dados
arr_numeric

array([[48010226.  ,    35000.  ,    35000.  ,       13.33,     1184.86,     9452.96],
       [57693261.  ,    30000.  ,    30000.  , 68616520.  ,      938.57,     4679.7 ],
       [59432726.  ,    15000.  ,    15000.  , 68616520.  ,      494.86,     1969.83],
       ...,
       [50415990.  ,    10000.  ,    10000.  , 68616520.  , 68616520.  ,     2185.64],
       [46154151.  , 68616520.  ,    10000.  ,       16.55,      354.3 ,     3199.4 ],
       [66055249.  ,    10000.  ,    10000.  , 68616520.  ,      309.97,      301.9 ]])

In [104]:
# Nome das colunas
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

In [105]:
# Não temos valor ausente, pois ao carregar os dados substítuimos por um valor arbitrário
np.isnan(arr_numeric).sum()

0

In [106]:
valor_coringa

68616520.0

In [107]:
# Podemos checar se uma coluna foi preenchida com o valor coringa (coluna id)
np.isin(arr_numeric[:,0], valor_coringa)

array([False, False, False, ..., False, False, False])

In [108]:
# Podemos checar se uma coluna foi preenchida com o valor coringa (coluna id)
np.isin(arr_numeric[:,0], valor_coringa).sum()

0

Vamos criar um array de estatísticas, especificamente valor mínimo, máximo e média de cada variável. Usaremos isso no tratamento de valores ausentes (preenchidos com o valor coringa).

In [109]:
# Criamos um array com valor mínimo, média e valor máximo ignorando nan
# Usaremos isso no tratamento de valores ausentes
arr_stats = np.array([np.nanmin(dados, axis = 0), media_ignorando_nan, np.nanmax(dados, axis = 0)])

In [110]:
print(arr_stats)

[[  373332.           nan     1000.           nan     1000.           nan        6.         31.42         nan         nan         nan         nan         nan        0.  ]
 [54015809.19         nan    15273.46         nan    15311.04         nan       16.62      440.92         nan         nan         nan         nan         nan     3143.85]
 [68616519.           nan    35000.           nan    35000.           nan       28.99     1372.97         nan         nan         nan         nan         nan    41913.62]]

In [111]:
arr_stats[:, colunas_numericas]

array([[  373332.  ,     1000.  ,     1000.  ,        6.  ,       31.42,        0.  ],
       [54015809.19,    15273.46,    15311.04,       16.62,      440.92,     3143.85],
       [68616519.  ,    35000.  ,    35000.  ,       28.99,     1372.97,    41913.62]])

Pré-Processamento da Variável funded_amnt

In [112]:
# Visualiza os dados
arr_numeric[:,2]

array([35000., 30000., 15000., ..., 10000., 10000., 10000.])

In [113]:
arr_stats[0, colunas_numericas[2]]

1000.0

In [114]:
# Ajustamos o conteúdo da coluna
arr_numeric[:,2] = np.where(arr_numeric[:,2] == valor_coringa, arr_stats[0, colunas_numericas[2]], arr_numeric[:,2])

In [115]:
arr_numeric[:,2]

array([35000., 30000., 15000., ..., 10000., 10000., 10000.])

Pré-Processamento das Variáveis loan_amnt, int_rate, installment, total_pymnt

In [116]:
# Nomes das colunas
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

In [117]:
# Loop para substituir o valor ausente (valor_coringa) pelos valores do array de estatísticas
for i in [1, 2, 3, 4, 5]:
    arr_numeric[:,1] = np.where(arr_numeric[:, 1] == valor_coringa,
                               arr_stats[2, colunas_numericas[i]],
                               arr_numeric[:,1])

In [118]:
arr_numeric

array([[48010226.  ,    35000.  ,    35000.  ,       13.33,     1184.86,     9452.96],
       [57693261.  ,    30000.  ,    30000.  , 68616520.  ,      938.57,     4679.7 ],
       [59432726.  ,    15000.  ,    15000.  , 68616520.  ,      494.86,     1969.83],
       ...,
       [50415990.  ,    10000.  ,    10000.  , 68616520.  , 68616520.  ,     2185.64],
       [46154151.  ,    35000.  ,    10000.  ,       16.55,      354.3 ,     3199.4 ],
       [66055249.  ,    10000.  ,    10000.  , 68616520.  ,      309.97,      301.9 ]])

Trabalhando com o Segundo Dataset

Vamos carregar os dados de cotação USD-EURO. Cada linha do dataset corresponse à taxa de câmbio para um mês em um ano.

In [119]:
# Carrega o segundo dataset 
dados_cot = np.genfromtxt('dataset2.csv',
                         delimiter = ',',
                         autostrip = True,
                         skip_header = 1,
                         usecols = 3)

In [120]:
# Visualiza
dados_cot

array([1.13, 1.12, 1.08, 1.11, 1.1 , 1.12, 1.09, 1.13, 1.13, 1.1 , 1.06, 1.09])

In [121]:
# Nomes das colunas
header_strings

array(['issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'state_address'], dtype='<U19')

In [122]:
# Dados
arr_strings

array([[ 5,  1, 36, 13,  1,  1],
       [ 0,  1, 36,  5,  1,  4],
       [ 9,  1, 36, 10,  1,  4],
       ...,
       [ 6,  1, 36,  5,  1,  1],
       [ 4,  1, 36, 17,  1,  3],
       [12,  1, 36,  4,  0,  3]])

In [123]:
# A coluna 0 do array de strings é o mês
arr_strings[:,0]

array([ 5,  0,  9, ...,  6,  4, 12])

In [124]:
# Vamos atribuir a coluna do mês à variável chamada exchange_rate
exchange_rate = arr_strings[:,0]

In [125]:
exchange_rate

array([ 5,  0,  9, ...,  6,  4, 12])

In [126]:
# Loop para preencher a variável exchange_rate com a taxa correspondente ao mês
# Usamos dados_cot[i - 1] devido a forma como carregamos os meses para comportar o zero
for i in range(1,13):
    exchange_rate = np.where(exchange_rate == i, dados_cot[i - 1], exchange_rate)

In [127]:
exchange_rate

array([1.1 , 0.  , 1.13, ..., 1.12, 1.11, 1.09])

In [128]:
# Onde a taxa de câmbio estiver com zero substituímos pela média
exchange_rate = np.where(exchange_rate == 0, np.mean(dados_cot), exchange_rate)

In [129]:
exchange_rate

array([1.1 , 1.11, 1.13, ..., 1.12, 1.11, 1.09])

In [130]:
exchange_rate.shape

(10000,)

In [131]:
arr_numeric.shape

(10000, 6)

In [132]:
exchange_rate = np.reshape(exchange_rate, (10000,1))

In [133]:
# Concatenação dos arrays
arr_numeric = np.hstack((arr_numeric, exchange_rate))

In [134]:
# Inclui o nome da coluna no array de nomes de colunas
header_numeric = np.concatenate((header_numeric, np.array(['exchange_rate'])))

In [135]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt', 'exchange_rate'], dtype='<U19')

Vamos criar colunas para as taxas de câmbio em USD e EURO

In [136]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt', 'exchange_rate'], dtype='<U19')

In [137]:
# Colunas em USD
columns_dollar = np.array([1,2,4,5])

In [138]:
# Visualiza
arr_numeric[:,6]

array([1.1 , 1.11, 1.13, ..., 1.12, 1.11, 1.09])

In [139]:
# Shape
arr_numeric.shape

(10000, 7)

In [140]:
# Loop pelas colunas USD para apllicar a taxa de conversão para EURO
for i in columns_dollar:
    arr_numeric = np.hstack((arr_numeric, np.reshape(arr_numeric[:,1] / arr_numeric[:,6], (10000,1))))

In [141]:
# Shape
arr_numeric.shape

(10000, 11)

In [142]:
# Visualiza
arr_numeric

array([[48010226.  ,    35000.  ,    35000.  , ...,    31933.3 ,    31933.3 ,    31933.3 ],
       [57693261.  ,    30000.  ,    30000.  , ...,    27132.46,    27132.46,    27132.46],
       [59432726.  ,    15000.  ,    15000.  , ...,    13326.3 ,    13326.3 ,    13326.3 ],
       ...,
       [50415990.  ,    10000.  ,    10000.  , ...,     8910.3 ,     8910.3 ,     8910.3 ],
       [46154151.  ,    35000.  ,    10000.  , ...,    31490.9 ,    31490.9 ,    31490.9 ],
       [66055249.  ,    10000.  ,    10000.  , ...,     9145.8 ,     9145.8 ,     9145.8 ]])

Vamos expandir o cabeçalho com as novas colunas

In [143]:
header_additional = np.array([column_name + '_EUR' for column_name in header_numeric[columns_dollar]])

In [144]:
header_additional

array(['loan_amnt_EUR', 'funded_amnt_EUR', 'installment_EUR', 'total_pymnt_EUR'], dtype='<U15')

In [145]:
header_numeric = np.concatenate((header_numeric, header_additional))

In [146]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt', 'exchange_rate', 'loan_amnt_EUR', 'funded_amnt_EUR', 'installment_EUR', 'total_pymnt_EUR'], dtype='<U19')

In [147]:
header_numeric[columns_dollar] = np.array([column_name + '_USD' for column_name in header_numeric[columns_dollar]])

In [148]:
header_numeric

array(['id', 'loan_amnt_USD', 'funded_amnt_USD', 'int_rate', 'installment_USD', 'total_pymnt_USD', 'exchange_rate', 'loan_amnt_EUR', 'funded_amnt_EUR', 'installment_EUR', 'total_pymnt_EUR'],
      dtype='<U19')

In [149]:
columns_index_order = [0,1,7,2,8,3,4,9,5,10,6]

In [150]:
header_numeric = header_numeric[columns_index_order]

In [151]:
arr_numeric

array([[48010226.  ,    35000.  ,    35000.  , ...,    31933.3 ,    31933.3 ,    31933.3 ],
       [57693261.  ,    30000.  ,    30000.  , ...,    27132.46,    27132.46,    27132.46],
       [59432726.  ,    15000.  ,    15000.  , ...,    13326.3 ,    13326.3 ,    13326.3 ],
       ...,
       [50415990.  ,    10000.  ,    10000.  , ...,     8910.3 ,     8910.3 ,     8910.3 ],
       [46154151.  ,    35000.  ,    10000.  , ...,    31490.9 ,    31490.9 ,    31490.9 ],
       [66055249.  ,    10000.  ,    10000.  , ...,     9145.8 ,     9145.8 ,     9145.8 ]])

In [152]:
arr_numeric = arr_numeric[:,columns_index_order]

Pré-Processamento da Variável int_rate

In [153]:
header_numeric

array(['id', 'loan_amnt_USD', 'loan_amnt_EUR', 'funded_amnt_USD', 'funded_amnt_EUR', 'int_rate', 'installment_USD', 'installment_EUR', 'total_pymnt_USD', 'total_pymnt_EUR', 'exchange_rate'],
      dtype='<U19')

In [154]:
arr_numeric[:,5]

array([      13.33, 68616520.  , 68616520.  , ..., 68616520.  ,       16.55, 68616520.  ])

In [155]:
# Vamos apenas dividir por 100
arr_numeric[:,5] = arr_numeric[:,5] / 100

In [156]:
arr_numeric[:,5]

array([     0.13, 686165.2 , 686165.2 , ..., 686165.2 ,      0.17, 686165.2 ])

Checkpoint com Variáveis Numéricas Limas e Pré-Processadas

Checkpoint 3

In [157]:
checkpoint_numeric = checkpoint('Checkpoint-Numeric', header_numeric, arr_numeric)

In [158]:
checkpoint_numeric['header'], checkpoint_numeric['data']

(array(['id', 'loan_amnt_USD', 'loan_amnt_EUR', 'funded_amnt_USD', 'funded_amnt_EUR', 'int_rate', 'installment_USD', 'installment_EUR', 'total_pymnt_USD', 'total_pymnt_EUR', 'exchange_rate'],
       dtype='<U19'),
 array([[48010226.  ,    35000.  ,    31933.3 , ...,     9452.96,    31933.3 ,        1.1 ],
        [57693261.  ,    30000.  ,    27132.46, ...,     4679.7 ,    27132.46,        1.11],
        [59432726.  ,    15000.  ,    13326.3 , ...,     1969.83,    13326.3 ,        1.13],
        ...,
        [50415990.  ,    10000.  ,     8910.3 , ...,     2185.64,     8910.3 ,        1.12],
        [46154151.  ,    35000.  ,    31490.9 , ...,     3199.4 ,    31490.9 ,        1.11],
        [66055249.  ,    10000.  ,     9145.8 , ...,      301.9 ,     9145.8 ,        1.09]]))

Construindo o Dataset Final

In [159]:
checkpoint_strings['data'].shape

(10000, 6)

In [160]:
checkpoint_numeric['data'].shape

(10000, 11)

In [161]:
# Concatena os arrays
df_final = np.hstack((checkpoint_numeric['data'], checkpoint_strings['data']))

In [162]:
df_final

array([[48010226.  ,    35000.  ,    31933.3 , ...,       13.  ,        1.  ,        1.  ],
       [57693261.  ,    30000.  ,    27132.46, ...,        5.  ,        1.  ,        4.  ],
       [59432726.  ,    15000.  ,    13326.3 , ...,       10.  ,        1.  ,        4.  ],
       ...,
       [50415990.  ,    10000.  ,     8910.3 , ...,        5.  ,        1.  ,        1.  ],
       [46154151.  ,    35000.  ,    31490.9 , ...,       17.  ,        1.  ,        3.  ],
       [66055249.  ,    10000.  ,     9145.8 , ...,        4.  ,        0.  ,        3.  ]])

In [163]:
# Verifica se tem valor ausente
np.isnan(df_final).sum()

0

In [164]:
# Concatena os arrays de nomes de colunas
header_full = np.concatenate((checkpoint_numeric['header'], checkpoint_strings['header']))

In [165]:
# Ordenando o dataset
df_final = df_final[np.argsort(df_final[:,0])]

In [166]:
df_final

array([[  373332.  ,     9950.  ,     9038.08, ...,       21.  ,        0.  ,        1.  ],
       [  575239.  ,    12000.  ,    10900.2 , ...,       25.  ,        1.  ,        2.  ],
       [  707689.  ,    10000.  ,     8924.3 , ...,       13.  ,        1.  ,        0.  ],
       ...,
       [68614880.  ,     5600.  ,     5121.65, ...,        8.  ,        1.  ,        1.  ],
       [68615915.  ,     4000.  ,     3658.32, ...,       10.  ,        1.  ,        2.  ],
       [68616519.  ,    21600.  ,    19754.93, ...,        3.  ,        0.  ,        2.  ]])

In [167]:
# Conferindo a ordenação da coluna 0
np.argsort(df_final[:,0])

array([   0,    1,    2, ..., 9997, 9998, 9999])

Gravando o Dataset Final Limpo e Pré-Processado

In [168]:
# Concatena o array de nomes de colunas com o array de dados
df_final = np.vstack((header_full, df_final))

In [169]:
# Salva em disco
np.savetxt('dataset_limpo_preprocessado.csv',
          df_final,
          fmt = '%s',
          delimiter = ',')